@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 12px/1.5 Poppins, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-top: 1.8em;
    margin-bottom: 1.6em;
}

header h1 {
    font-size: 3em;
    font-weight: 600;
}

header h1 span {
    color: #327AC2;

}


header p{
    padding-bottom:2em;
}

main {
    display: flex;
    gap:2em;
}

.card {
    flex: 1 1 30%;
    background-color: #819CAE;
    border-radius: 2em;
    transition: transform 0.1s;
}

.card img {
    display:block;
    width: 100%;
    height: auto;
    border-radius: 2em;
    overflow:hidden;
}

.card:hover {
    transform: scale(1.02);
}

.card-content {
    padding:2em 1.5em 2.5em 1.5em;
}

.card-content h2 {
    font-size: 2em;
    font-weight: 600;
}

.card-content p {
    font-size:inherit;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-content a {
    display:inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    background: #327DC4;
    border: 1px solid #323CC4;
    outline: 1px solid #fff;
    border-radius: 2em;
    padding: 0.5em 1em;
    margin:0em 0.5em 0em;
}

.card-content a:hover {
    background-color: #eee;
    color: #000;
}