* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
}

body{
    background-color:rgb(238, 238, 238);
    display:flex;
    align-items:center;
    justify-content:center;
    min-height: 100vh; 
    font: inherit;    
    gap:2em;
}

.card{
    background-color: rgb(255, 255, 255);
    border-radius:0.5em;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.3); 
    max-width:25vw;
}

div>h3{
    font-size: 1.5em;
    padding-bottom: 1em;
}


.card .media img {
    display: block;
    width: 100%;
    height: auto;
}

.card .card-content {
    padding: 2em;
    padding-bottom: 5em;
    position:relative;
}

.card h3 {
    font: 1em/1.2 Georgia, serif;
    font-weight: bold;
    padding-bottom: 0.5em;
}

div p {
    padding-bottom: 1.5em;  
}

.card .button {
    display: block; 
    max-width:10vw;
    position:absolute;
    bottom:20px;
    right:20px;
    text-decoration: none;
    text-align:center;
    color: #fff;
    padding: 0.7em 1em;
    border-radius: 0.2em;
    background-color: rgb(0, 153, 0); 
    border:1px solid rgb(0, 153, 0);
    box-shadow:  0 0 1em 1em rgb(0 0 0 0.5);
}