*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

/* size: 874 X 388 */

html {
    font-family: Helvetica, sans-serif;
    font-size:14px;
    line-height:1.5;
}

.journal-container{
    max-width: 65em;
    margin: 2em auto;
    display:flex;
    justify-items: center;
    border:2px solid red;
    background-color: #1881B6;
    border:5px solid black;
    border-radius:1em;
    padding:2em;
    gap:1em;
}

h1, h2, h3, h4{
    font-family:inherit;
}
img{
    display:block;
    width:100%;
    height:auto;
    overflow:hidden;
}

.content{
    flex:1 1 55%;
}

.media{
    flex:1 1 35%;
}

.content article h2{
    font-size:2.4em;
    color:white;
    margin-top:0.5em;
    margin-bottom:0.2em;
    font-weight:normal;
}

h3{
    font-size:1.2em;
    text-transform: uppercase;
    font-weight:bold;
    padding-top:2em;
    padding-bottom:1em;

}

.content article p{
    margin:1em 0;
    text-indent:3em;
    /* max-width:62ch; */
}

.section-buttons{
    display:flex;
    justify-content: center;
    gap:5em;
    text-decoration:none;
    margin-top:2em;
}


.button{
    padding:0.5em 1em;
    border:0.8px solid black;
    border-radius:0.5em;
    font-size:0.8em;
    text-decoration:none;
    color:black;
    box-shadow: 0 0 0.2em 0.1em rgba(0, 0, 0, 0.1); 

}

.button:first-child{
    background-color:#B6416D;
    color:white;
}