html{
    font-family: Helvetica, sans-serif;
}

nav, ul ,li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    color: green;
    padding: 20px;
    justify-content: center;

}

a:hover{
    color: white;
    background: green;
    border-radius: 15%;
}

header h1{
    display: inline-block;
    position: relative;
    bottom: -15px;
    font-size: 50px;
    margin-right: 80px;
    margin-left: 10px;
}