*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    padding-top:5em;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
    font-size: 30px;
    font-weight: normal;
    padding-bottom:1em;
}


section {
    display: flex;
    /* justify-content: space-between; */
    max-width: 60vw;
    margin: auto;
    gap: 2em;
    /* border:solid 3px black; <--for testing purposes */
    padding:1em;
    justify-content:center;
}

article {
    flex: 1 1 30em; 
    border:pink 5 px;
}

p {
    flex: 1 1 40rem;
}

h2 {
    flex: 1 1 20rem;
    height:6rem;
}

