* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body > * {
	background-color: lightblue;
	padding: 1em;
	border-radius: 0.3em;
}

body {
	display: flex;
	flex-wrap: wrap;
    margin:2em;
	gap: 1em;
}

header,
footer {
	flex: 1 1 100%;
}

header {
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding:2em;
}

header nav ul {
	display: flex;
	gap: 1em;
	padding-left: 1em;
}
nav li {
	display: block;
}

header li a {
	text-decoration: none;
}

aside {
	flex: 1 1 25%;
}

main ul {
	padding-left: 2em;
}

aside ul li {
	display: block;
}

aside ul li a {
	text-decoration: none;
	color: black;
}

main {
	flex: 1 1 60%;
}

@media (max-width: 500px) {
	body {
		flex-direction: column;
	}

	header,
    nav ul {
		display: block;
	}

	header nav ul {
		text-align: center;
		display: block;
	}

    header h1{
        text-align:center;
    }

	header nav ul li {
		padding: 1em;

	}
}