
body{
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url(../image/fitness-main.jpg);
    background-size: 1200;
    background-position: center -22em;
}

.container{
    max-width:100em;
    margin: 0 auto;
}

.section-top-bar{
    background-color:#D01919;
    color:white;
}

.section-top-bar .container{
display:flex;
justify-content: space-between;
padding:0.5em;
}


.section-top-bar .socials{
    display:flex;
    gap:0.2em;
}

.section-top-bar .socials span{
    display:none;
}

.section-top-bar .socials li{
    padding: 0 0.5em;
}

.section-top-bar .socials a,
.section-top-bar .socials li{
    display:block;
}
.section-top-bar a{
    color:white;
}

.section-header{
    color:white;
}


.section-header .container{
    display:flex;
    justify-content:flex-end;
}

.section-header .site-title{
    display:none;
}


.section-header a{
    color:white;}



.coaches{
    background-color: #EFEFEF;
}

.section-footer{
    background-color:#D01919;
    text-align:center;
    padding:0.5em;
}